[2016-01-31 09:14] Polooo2 opened #3 "Show complete text"
Hi,
cool library. Would be convenient to have some possibility to immediately show the complete text.

E.g. on mouse click show the complete text

[2016-02-22 02:21] jstejada commented on #3
hey yeah that's a cool idea, I'll look into it! Also open to pull requests! :smile:

[2016-03-01 17:23] msutyak opened #4 "react-typist@0.3.0 npm WARN EPACKAGEJSON name@1.0.0 No repository field."
Using a Meteor.js application.  I installed meteorhacks:npm and the appropriate react packages.

My packages.json looks like:
`
{
  "name": "name",
  "version": "1.0.0",
  "description": "react",
  "main": "index.js",
  "dependencies": {
    "react-dom": "^0.14.7",
    "react-typewriter": "^0.3.0",
    "react-typist": "^0.3.0"
  },
  "devDependencies": {},
  "scripts": {
    "test": "echo \"Error:

[2016-03-02 04:51] msutyak opened #5 "Add support for backspace animation"
Also, is there a way to have an infinite loop of typing on the same line (write one line, backspace it, then write another line, backspace it, then loop back to the first line, etc...)

[2016-03-07 05:48] jstejada commented on #5
hey @msutyak thanks for asking. Currently Typist doesn't support backspace animations, as the README checklist indicates. I'm open to pull requests though!

[2016-03-07 05:52] jstejada commented on #4
hi @msutyak, I believe this is because your `package.json` does not contain a repository field. This is unrelated to react-typist.

Thanks!

[2016-03-07 05:52] #4 closed

[2016-03-16 19:28] Laoujin opened #6 "Add option to restart the animation"
Is it possible to put the typist on a loop? (ie restart after done)

[2016-04-21 14:17] beeant commented on #6
+1

[2016-06-03 10:49] webdif commented on #6
Maybe a bit ugly, but this will do the trick:
[code]

[2016-06-19 19:32] webdif opened #8 "clearInterval at unmount?"
I get this error when I navigate from a page where there is a Typist instance. It seems that Typist want to modify state although the component is unmounted:

[code]

I don't know if I got this right, but maybe it has to do with the setTimeout in `eachRndTimeout` of `utils.js`? For a fix, we can store the timeout id in a variable in `utils.js`, add a function to `clearTimeout` this id, and call th

[2016-07-14 15:13] devdoomari commented on #8
#9 solves this issue by manually storing each setTimeouts in an array and running a clearInterval()s  on componentWillUnmount.
Could you provide some feedback on the pull req.?
thanks : )

[2016-07-20 15:58] jstejada commented on #6
hi all! Glad to see it this was solved by composing Typist. I'll look into adding an option to do this automatically. Thanks!

[2016-08-01 13:09] tmpg opened #10 "Restart animate on event?"
Is there anyway to restart the animation when an event occurs. I am somewhat new to Reactjs but usually doing something like this.ref.name.reset() works. In this case, it does not.

Thank you for the lib and all the help.
Tim

[2016-08-01 13:14] tmpg commented on #10
Nvm, figured it out. I should sleep more, it was ez... 0_0

[2016-08-01 13:14] #10 closed

[2016-08-01 19:33] leopoldjoy opened #11 ""ReferenceError: window is not defined" with Server-Side Rendering"
Hello,

My `React` is pre-rendered on the server, and when I try to use `react-typist` I get this error on the server:

    ReferenceError: window is not defined
    [1]     at new Typist (/Users/user/myapp/node_modules/react-typist/dist/Typist.js:146:41)
    [1]     at ReactCompositeComponentMixin.mountComponent (/Users/user/myapp/node_modules/react/lib/ReactCompositeComponent.js:148:18)
    [1]

[2016-08-01 22:43] leopoldjoy commented on #11
Created a fix: https://github.com/jstejada/react-typist/pull/12

[2016-08-09 05:04] tmpg opened #13 "Depending on the sentence or padding the animation stops at random places, no matter the length of text"
Depending on the sentence or padding the animation stops at random places, no matter the length of the passage. If I change the word or spacing I can get it to complete but this means that it can not just take any text without review.

Has anyone else run into this issue? Any workarounds?

Thanks,
Tim

[2016-08-09 13:33] webdif commented on #8
Seems like a good fix for this problem, thank you!
Is #9 will be merged soon and published on npm?

[2016-08-09 18:39] tmpg commented on #13
solved this by using padding instead of margins.

[2016-08-09 18:40] tmpg commented on #13
Never mind it still happens but less frequent...

[2016-08-09 20:33] tmpg commented on #13
I "solved" my issue by adding "whitespace: pre-wrap" onto the element but it causes a nasty stutter in the typing. Let me know if I could be of any help when you get to fixing this.

[2016-08-12 13:40] devdoomari commented on #8
@webdif
nope - #9 shouldn't be merged as @jstejada says.
#9 did more than it should in one pull request as I had to do a quick-fix for my company.
(IE fix, babel6, clearinterval)

I think @webdif you could separate out #9 into multiple pull requests and submit them as yours.

[2016-09-09 05:21] #11 closed

[2016-09-25 20:53] electic opened #14 "Cursor should fade away"
First off, thank you for the component. It is amazing. Suggestion. When the typing is complete, and disappear is enabled, instead of vanishing fast I think the cursor should also give the option of a fade and animation duration.

[2016-10-01 12:47] magician11 commented on #6
The only small warning with this approach, is if we have:

[code]

Then we'll get the warning..

And I think that is because there is a setTimeout being called in the Cursor component [here](https://github.com/jstejada/react-typist/blob/master/src/Cursor.jsx#L36).

So when the [onTypingDone function](https://github.com/jstejada/react-typist/blob/master/src/Typist.jsx#L67) is called, which removes

[2016-10-25 14:47] kendagriff commented on #8
v1.0.2 solved this for me.

[2016-10-25 14:51] kendagriff commented on #8
I take that back:

[code]

This appears to be the offending line piece of code in Typist.jsx:

[code]

[2016-10-29 20:20] jstejada commented on #8
hey @kendagriff thanks for bringing this up! this should be fixed in https://github.com/jstejada/react-typist/commit/f50798d7fa62114ca4dd89937514efebd78594fc

released 1.0.3 today

[2016-10-29 20:20] #8 closed

[2016-10-29 20:20] jstejada commented on #14
hi @electic thanks for the suggestion! I'll look into it! PRs welcome :)

[2016-10-30 01:47] kendagriff commented on #8
Fixed, thank you!

[2016-11-06 18:38] caspg commented on #6
@magician11 I've encountered a similar problem. It was because `setState` was called after the component was unmounted. To handle this, I used `clearTimeout` function.

Something like:
[code]

[2016-11-24 00:17] madshargreave opened #15 "Cursor jumps to next line sometimes (in this case with headings)"
When using headings, the cursor is not on the same line

[2017-01-14 18:54] FanXiang opened #16 "How to include the 'dist/Typist.css'"
How to include the 'dist/Typist.css' on Dev and Production

[2017-02-02 11:47] jch254 commented on #16
@FanXiang if you're using Webpack make sure to load the CSS files from node_modules/react-typist and then `import 'react-typist/dist/Typist.css';` before using the component

[2017-02-02 11:52] jch254 commented on #15
@madshargreave how are you using the component?

I was able to get it working with headings by using something like:

[code]

[2017-02-06 17:30] dirtyredz opened #18 "Safari - TypeError: 'undefined' is not a function (evaluating 'Array.from(arr)')"
using react 15.4, I get an error only in safari.
TypeError: 'undefined' is not a function (evaluating 'Array.from(arr)')

GoTo https://jstejada.github.io/react-typist/ in safari to duplicate the error

[2017-02-06 17:51] dirtyredz commented on #18
Old version of safari.

[2017-02-06 17:51] #18 closed

[2017-02-09 07:43] jstejada commented on #16
@FanXiang that is correct. It really depends on your build process, in some cases just adding a `<link>` tag

[2017-02-09 07:43] #16 closed

[2017-02-09 07:43] jstejada commented on #15
hi @madshargreave thanks for reporting this. I have actually been able to reproduce this, only on chrome, and it's driving me nuts. I think I'll have a fix for this soon. Sorry for the late reply!

[2017-02-09 07:44] jstejada commented on #13
this seems related to #15.

[2017-02-09 07:47] jstejada commented on #6
we might add an option for `restart` soon!

[2017-02-09 07:47] jstejada commented on #5
see #17

[2017-02-12 09:59] Ank49 opened #19 "Not working properly with react-intl"
I've encountered some issues working with react-typist :
• It doesn't work if you use react-intl with `<FormattedMessage/>` tags
• It works fine if you use instead `{formatMessage()}` inside the `<span>` tag but.. as soon as the text is written, you'd have to reload the page to translate it either way it won't (and you have then some text in one language and what's left in a second one..). Not tha

[2017-02-16 09:30] DastanSE opened #20 "How to do backspace? and change content"
https://envato.com/  like here

[2017-03-12 18:29] jstejada commented on #20
Hi! this option is not currently available, but there is a PR for it #17

[2017-03-12 18:29] jstejada commented on #19
Thanks for the heads up! I'll take a look at how we can improve this

[2017-03-12 19:40] jstejada commented on #15
Hi @madshargreave , this is actually a different issue from what I thought! The problem is that by default headings are `display: block`, so you need to change the heading's display to something like `inline-block` for the cursor to display correctly next to it. Or you could also do @jch254's solution.

Thanks!

[2017-03-12 19:40] #15 closed

[2017-03-17 11:24] Ganasist opened #21 "Recursion across array of sentences?"
Love this package!

Would love it even more if I could easily pass an array and have it type one sentence at a time (replacing each time). There is currently not a simple way to do this... I tried to use onTypingDone to call itself again but no luck:

[code]

[2017-03-26 23:19] jstejada commented on #20
merging into #5

[2017-03-26 23:19] #20 closed

[2017-03-27 00:19] jstejada commented on #13
The fix for this has been released with v1.1.0. Let me know if you continue having issues!

[2017-03-27 00:19] #13 closed

[2017-04-04 09:25] ulich opened #23 "Internet Explorer 11 support"
What are the supported browsers? Could this information be added to the Readme maybe?

I am seeing issues with IE11. You are using the static array methods that are not supported by IE11. Any plans on supporting IE11?

[2017-04-07 03:28] dan-clark-lm commented on #23
+1 IE support would be great...

[2017-04-14 15:23] lnxmad commented on #23
Bump

[2017-04-29 00:19] jstejada commented on #23
Hey sorry for the delay in getting back here! Replied in #24

[2017-06-08 05:46] bar0191 opened #29 "Component not rendering new props"
Hello,

I have been playing with your module, and I have come across an issue. I am trying to create a dynamically changing header component that will change the string of the header every 4 seconds. I am able to get tags to change dynamically just fine with my component, but using typist I get the first prop (beginning of an array of strings) and then it does not receive the next props.

I did no

[2017-07-01 04:47] ahcarpenter commented on #13
@jstejada Noticed it with 1.1.1. Seems to work when using 'Helvetica', but not 'Open Sans' for some reason--any thoughts?

[2017-09-11 13:56] sjorsvanheuveln commented on #3
Any progress on this enhancement. Would be really handy, for example if you don't want to show the animation a second time when user revisits page.

[2017-10-16 05:13] jstejada commented on #29
Thanks for reporting this! I'll look into this soon

[2017-10-16 05:18] jstejada commented on #19
might be related to #29

[2017-10-16 05:21] jstejada commented on #21
thanks for reporting this! You want to be able to replace the sentence with different sentences from an aray correct?

this should be achievable by doing something like:
[code]

or something of the sort.

However, I'm pretty sure this wont work due to #29, which I will look into soon.
For now, I'm going to merge this issue into #29.

Thanks again!

[2017-10-16 05:21] #21 closed

[2017-10-16 05:23] jstejada commented on #5
landed in #27! Will be released soon

[2017-10-16 05:23] #5 closed

[2017-10-16 05:31] jstejada commented on #13
I'll have to take another look!

[2017-10-17 15:57] udewilde opened #33 "Different output on local and production"
I have been using the module on my local machine and everything works perfectly.
However, when I moved to production, Typist.Backspace & Typist.Delay have completely stopped working.
I mean that the text will just be added to the previous one, without any rythme change.
The output is just one big string
[code]
If it can be any indicator, I noticed that on localhost when the `Typist.Backspace` occu

[2017-10-19 23:52] elliotleelewis commented on #33
I have the exact same issue!

[2017-10-20 15:48] jstejada commented on #33
Ah, that's no good! What version are you running?

[2017-10-20 15:48] jstejada commented on #33
Also, how are you deploying to production?

[2017-10-20 16:00] udewilde commented on #33
I'm running version 2.0.1
The app is hosted on firebase, so I am deploying to production with the `firebase deploy`  command, with a react-create-app structure

[2017-10-20 16:02] jstejada commented on #33
Ah, that's no good! Do you mind giving me the following information:
- react-typist version (in your package.json)
- react version (in your package.json)
- if you are able to share, a description of your build process to production
- if you are able to share, the site you deployed to which isn't working
- any other info that might be useful to reproduce this scenario

Thank you!

[2017-10-20 16:06] jstejada commented on #33
Thanks @udewilde! Do you mean [create-react-app](https://github.com/facebookincubator/create-react-app)?

Do you know which versions of `create-react-app`,  and `react-scripts` (should be in your package.json) you are using?

Thank you!

[2017-10-20 16:14] udewilde commented on #33
Sure! here are the relevant elements in my package.json

[code]

The build process is using the one described in the [create-react-app](https://github.com/facebookincubator/create-react-app), with a pre-cache addition to it.

[Here](https://laloc.fr/) is the link to the website. If you open the Chrome Devtools, you should see every char change logged in the console, as well as the char index.
In t

[2017-10-20 16:21] jstejada commented on #33
Awesome, thank you for all the info! :) This should help me reproduce and get to the bottom og this. I'll dive into this later this evening or tomorrow

Thanks again!

[2017-10-21 15:29] elliotleelewis commented on #33
I'm using [Laravel Mix](https://github.com/JeffreyWay/laravel-mix), not create-react-app, so I don't think that this is solely related to create-react-app

[2017-10-21 15:40] jstejada commented on #33
thanks for the info @elliotleelewis. which version of react are you using?

[2017-10-21 15:52] jstejada commented on #33
thanks @elliotleelewis, @udewilde. I think I figured out what's going on, when the code is minified, this check no longer works: https://github.com/jstejada/react-typist/blob/master/src/utils.js#L42 because the `Backspace` Component is no longer called `Backspace`.

I'll push a fix soon

[2017-10-21 16:15] jstejada commented on #33
I've released a fix with v2.0.3 (d122bd1), which should resolve your issue.

Let me know if that's not the case!

[2017-10-21 16:15] #33 closed

[2017-10-21 16:57] udewilde commented on #33
Hey @jstejada, I have just updated the module (`2.0.3`) , but I still get the same issue in production.
It's a new build and new push to production, so it is definitely not the old version running.
I have left the code with the issue in [production](https://laloc.fr/), so you can see the output in the search bar placeholder.

[2017-10-21 17:27] elliotleelewis commented on #33
Yeah I still have same issue too!

[2017-10-21 18:21] jstejada commented on #33
Oh, yeah you're right! Sorry, that was my bad! It should be fixed in 2.0.4! @elliotleelewis @udewilde

[2017-10-21 18:26] elliotleelewis commented on #33
Works for me 😃

[2017-10-21 23:08] udewilde commented on #33
Works for me too!
Thanks

[2017-10-22 08:37] jmknoll commented on #6
Seems like there is still interest in adding a `restart` feature. Anyone currently working on a PR @jstejada ?

[2017-11-10 20:53] slorenzo opened #34 "Not working properly using dangerouslySetInnerHTML."
Hello.
I'm wanna make a component passing the content as a property.
My code is:
<img width="468" alt="screen shot 2017-11-10 at 5 49 43 pm" src="https://user-images.githubusercontent.com/15804684/32678055-93d6cca2-c63f-11e7-828f-90c9bb9be0c3.png">

Nothing happens, nothing on the console either.
Is it possible?

Sebastian.

[2017-11-17 20:28] xuezhma commented on #29
Make `componentWillReceiveProps` to repeat `componentDidMount` will prob fix this.

Meanwhile a simple work around is to unmount the component then render a new instance with new props.

[2017-11-24 20:48] lfeddern opened #35 "react element does not render"
React element as a child doesn't render, to recreate:

![screen shot 2017-11-24 at 20 45 43](https://user-images.githubusercontent.com/10187990/33223596-d117582e-d158-11e7-9893-f1a86d28124c.png)

Just renders the cursor:
![screen shot 2017-11-24 at 20 49 48](https://user-images.githubusercontent.com/10187990/33223627-19b831f2-d159-11e7-9eb6-4aa3f7ca72be.png)

[2017-11-24 20:52] lfeddern commented on #35
think its something to do with `cloneElementWithSpecifiedText()` but can't fix. Any help much appreciated!

[2017-11-24 20:55] lfeddern commented on #34
@slorenzo did you manage to get anywhere with this?

[2017-11-27 23:44] IAmNatch commented on #6
@jstejada any news on a restart feature? I'd be happy to make a PR if no one is working on it.

[2017-11-28 19:14] slorenzo commented on #34
@lfeddern To my purpose, I used [react-typist-loop](https://github.com/ratson/react-typist-loop).
But it needs to be reviewed,

[2017-11-30 03:54] barbush opened #36 "The link to the CSS file is gone"
Help a fellow out and put it back? :-)

[2017-12-02 02:21] jstejada commented on #36
Ah that was my bad, I stopped commiting the `dist` folder. However, you should be able to find it in the installed package: `node_modules/dist/Typist.css`

If using webpack or a similar setup you should be able to import it from `import 'react-typist/dist/Typist.css'`

Let me know if that helps!

[2017-12-02 03:38] barbush commented on #36
Juan, that works - much appreciated!

On Sat, Dec 2, 2017 at 12:21 PM, Juan <notifications@github.com> wrote:

[2017-12-06 03:18] #36 closed

[2017-12-09 19:31] jstejada commented on #35
@lfeddern sorry for the delay in getting back to you! Unfortunately this use-case is not supported; the way typist works is by traversing the element tree you pass as `children` and rendering any text it finds inside of it.
however, when you use your own custom defined elements, their render implementation is hidden from the element tree and it's just used by React when actually "resolving"/render

[2017-12-09 19:31] #35 closed

[2017-12-09 19:35] jstejada commented on #6
Hi everyone, sorry once again for dragging my feet on this, I've been a bit busy with other stuff. I cleaned up some of Typist's internals a little bit with the recent new features, but haven't had time to look into the `restart` option. It should be fairly simple to implement!

@IAmNatch (or anyone else) feel free to submit a PR, that would be great! Let me know if you have any questions :)

[2017-12-09 19:38] jstejada commented on #34
Hey @slorenzo, unfortunately Typist doesn't support text in `dangerouslySetInnerHTML`, and given how Typist is implemented, I don't think it's feasible to support it.

Typist works based on the `children` element tree you pass to it, but when using `dangerouslySetInnerHTML`, there's no tree, and the prop is just an html string, so there's not a straightforward way of extracting the text.

Why do y

[2017-12-09 19:38] #34 closed

[2017-12-12 07:51] jmknoll commented on #6
@IAmNatch Any interest in submitting a PR? If not, I'll start working on one.

[2017-12-12 09:01] jmknoll commented on #6
@jstejada @IAmNatch After thinking on this a little, I'm not sure that the restart feature in its own right has much of a use case. Perhaps the feature that we want to build here is something that accepts an array of strings and loops over them typing each one out and erasing it. Something like what's being done [here](https://www.thinkful.com/). This is pretty similar to the way I've used Typist

[2017-12-13 11:15] jpsear commented on #29
Just as a heads up, I locally tried tweaking the module to enable this. I got it to work, but it wasn't very robust — it had some odd behaviour on scroll etc. Complex animation is not really my bag!

Anyway, I ended up using a "mount, unmount" pattern to get the job done, but here is the code I added to the `Typist` component (once again, this doesn't work properly — **not production code**):

[co

[2017-12-20 06:40] linonetwo commented on #29
Sometimes, you can simply give the component a key, then it will remount if key changes.

[2017-12-20 06:45] jstejada commented on #29
Thanks for the input and the workarounds everyone!! And sorry again for the delay in getting back to you!

The root cause of the issue is definitely that `componentWillReceiveProps` isn't implemented. The main problem I initially imagined was that I wasn't sure if it was desirable to restart the animation every time new props were received, or only in specific cases.

I'll give it some additional

[2017-12-20 11:13] seidelmaycon commented on #6
How is going this issue?

[2017-12-21 12:03] jmknoll commented on #6
So it looks like someone has already implemented this feature as a separate package. https://www.npmjs.com/package/react-typist-cycle

Not sure whether this is worth doing if we're just going to be duplicating work. Interested in hearing the package maintainer's thoughts on adding this feature though. @jstejada

[2017-12-21 13:50] amahdian opened #37 "RTL support"
dose it support RTL?

[2018-01-10 21:23] oyeanuj commented on #6
@jstejada As you consider `restart` option - please consider usecases for looping through phrases. Essentially, the library should allow for re-rendering the typist effect if the children change.

[2018-01-15 18:36] goldensunliu commented on #23
this is what the error looks like https://github.com/jstejada/react-typist/pull/24#issue-220698292

[2018-01-19 19:38] casesandberg opened #39 "Fade In Letters"
Is it possible for the letters to also fade in as they are being typed?

[2018-01-19 21:38] SeanRoberts opened #40 "Does not render anything with React 16.0.0+"
No errors are thrown, but the component never renders anything, even with the most basic use case of `<Typist>Some words to type.</Typist>`

Switching back to 15.6.2 resolves the issue.

[2018-01-19 22:19] SeanRoberts commented on #40
This issue appears to be happening because the callback for `setState` is not firing in `typeLine()`

[2018-01-19 22:29] SeanRoberts commented on #40
It looks like this may be an issue from something else in my stack, the containing component's setState callbacks aren't firing either.

[2018-01-19 22:29] #40 closed

[2018-01-21 19:57] jstejada commented on #23
closing given resolution in #24

[2018-01-21 19:57] #23 closed

[2018-01-21 20:17] jstejada commented on #6
hmm yeah that's a good point @jmknoll, it seems that restart could work in different ways:

- Type the words, then immediately start type them again (without a backspace animation)
- Type the words, then backspace animation, then type them again

I feel like the example in https://www.thinkful.com/, i.e. with a backspace animation and displaying a different word every time, could (and should?) be

[2018-01-21 21:10] jstejada commented on #39
Hmmm, there's no specific support for that right now.

How do you imagine this working? Would the next letter start to appear only after the previous one has completely faded in? In that case typist would have to know about the timing in the animation to schedule the next letter to type.
Not sure if this would work, but as an initial thought maybe we could wrap each letter in a css class to provid

[2018-01-24 23:36] frehner commented on #29
I was able to get this to work doing the following:

[code]
this will only ever show one item in the array at a time, and then erases the item and types out the next one.

The only thing left is how to get it to start over from the start when it reaches the end. May just have to unmount and remount it

[2018-02-02 10:51] stevengeorgeharris commented on #29
[code]

Works just fine.

[2018-02-16 01:58] moonbe77 commented on #6
It works by mounting the component again, changing the state of the component.

[2018-04-05 23:27] srwiseman opened #43 "avgTypingDelay incorrectly documented?"
# Problem
The docs say that the `avgTypingDelay` prop is default '70'. However, this does not seem to be accurate. When you pass in `avgTypingDelay='70'` as a prop, the typing speed is much slower.

# Reproduction
Do this:
[code]
Then do this:
[code]
Note that in the second case the typing speed is much slower, even though I'm passing in the 'default value'.

[2018-04-05 23:58] srwiseman commented on #43
Nevermind. This was my fault. You can see above I was passing it in as a string instead of a number.

It should be
[code]
I'll close this!

[2018-04-05 23:58] #43 closed

[2018-04-06 00:05] srwiseman opened #44 "Possible to type centered text without text shifting?"
Basically, when you apply this component to a centered string of text, its shifts the already-typed text to the left, as you're typing on the right. This makes the text hard to read.

Is it possible to have the text placement static on centered text? I.e. it starts typing on the left of the screen and finishes typing on the left.

As an example, look at the effect here: https://caferati.me/ The te

[2018-04-08 19:34] vmarchesin opened #45 "Typist.Backspace and Typist.Delay not working while using react-hot-loader"
**Dependencies:**

[code]

**Code sample:**
[code]

**Expected Behavior:**
It should write `Example` then backspace to `Exam`.

**Current Behavior**
Doesn't backspace at all. Same thing happens with `Typist.Delay`, doesn't work.

I took a brief look at the code but didn't find the issue.

[2018-04-09 00:43] jstejada commented on #45
Hey @vmarchesin that's weird! Do you see any errors in the console or any additional output that might be helpful?

[2018-04-09 11:57] vmarchesin commented on #45
No apparent errors. I tried log debugging and the components exist as functions, so it should work. There's no logs or erros, it just ignores the call. If I place any text after `Typist.Backspace` or `Typist.Delay` components they are printed; the code just ignores backspaces and delays. I _may_ be doing something wrong, but since the main feature works I don't think it's an issue with the package

[2018-04-15 17:45] jstejada commented on #45
awesome @vmarchesin, thanks for looking into this! I'll keep it open in case other people run into this issue.

thanks! :)

[2018-04-15 17:46] jstejada commented on #44
@srwiseman good catch! I'll see if we can take into account text centering.

happy to receive PRs for this too!

[2018-04-19 13:44] jacktang opened #47 "Loop typing"
Hello, thanks for the component. How about add loop typing effect? https://storj.io/ is the example.

[2018-04-21 07:32] gernotkogler opened #48 "install from github"
I would like to use the most recent version directly from github. I installed the package using

npm install jstejada/react-typist#master

The module source is installed but not built and therefore does not work. "import Typist from 'react-typist'" fails.

How am I supposed to handle this?

Thanks!

[2018-04-23 16:23] daydream05 opened #49 "Issue with duplicating text"
There are times where a text gets duplicated after the animation is done. Is this a known issue?

[2018-04-24 05:53] daydream05 commented on #49
<img width="790" alt="screen shot 2018-04-24 at 1 52 23 am" src="https://user-images.githubusercontent.com/11723413/39168557-53bf75a2-4762-11e8-8bc9-a53e2ffcb936.png">

[2018-04-25 10:30] alexhayes commented on #45
I'd say this can be closed down now that #42 has been merged - both backspace and delay work when using react-hot-loader w/ nextjs

[2018-04-26 01:42] vmarchesin commented on #45
I will test with webpack and report back

[2018-05-04 00:51] jstejada commented on #45
Okay, going to go ahead and close it

[2018-05-04 00:51] #45 closed

[2018-05-04 00:52] jstejada commented on #49
Oh weird, sounds like a bug! Do you mind sharing a repro case for this?

[2018-05-04 00:53] jstejada commented on #48
Hey @gernotkogler, unfortunately the built code isn't hosted on github, oinly the source code. You could manually clone it, build it, and install from a local directory, but you'd have to manually keep it up to date.

Sorry for the trouble!

[2018-05-04 00:53] #48 closed

[2018-05-04 00:54] jstejada commented on #47
merging into duplicate #6

[2018-05-04 00:54] #47 closed

[2018-05-04 09:53] jacktang commented on #6
I'd like the final code looks like
[code]

[2018-05-18 13:27] smakosh commented on #19
Having the same issue as @Pomanks

[2018-05-26 20:40] shezankazi commented on #45
I am using Next.js and backspace does not seem to work. How exactly did OP solve this?

[2018-05-26 22:34] alexhayes commented on #45
@shezankazi I believe we're waiting on a new release of react-typist

To get by in the meantime I cloned the repo locally, built it then included the build in my project and imported that.

[2018-05-31 18:20] ningyuansg opened #51 "Blinking cursor with no fade?"
Setting blink in the cursor option currently causes it to blink with a fade in/out animation. Is there a way to blink without fading (as in the style of most text editors?)

[2018-06-17 14:07] windigoHub opened #52 "Is there a way to customize the Backspace speed?"
Is there a way to customize how fast the Backspace Component deletes the text? I want to only change the speed of the backspacing, not the typing-speed.

[2018-06-22 10:32] kubijo commented on #34
Hi @jstejada,

I've bumped into this as well when trying to use this with our solution for translations of html strings.
When you need to give your translators strings with line breaks, you need to render them back somehow and the `dangerouslySetInnerHTML` is pretty much an obvious solution.

[2018-06-22 10:36] kubijo commented on #34
Although line-breaks in particular can be resolved by including newlines  (`\n`) in the string and giving the wrapping element `white-space: pre-wrap` style…

[2018-06-23 18:24] pedroapfilho opened #53 "Cursor is appearing in another line"
The cursor is appearing on the next line, and not on the current one.

I'll place the code here:

[code]

[2018-07-10 15:20] smuckert commented on #52
I'm also wondering.

[2018-07-10 21:45] jmpolitzer commented on #53
@pedroapfilho  Check out issue #15.

[2018-07-11 12:33] #53 closed

[2018-07-14 14:23] krean93 commented on #45
+1 Backspace does not work for me when using next.js.

[2018-07-14 20:57] alexhayes commented on #45
@krean93 using the method I outlined above hot reloading did work for me.

[2018-07-15 15:33] jmpolitzer commented on #49
I'm also randomly getting duplicated text. In my case, it's typically the first `<BigText />` component that is rendered. This is the code in question:

[code]

[2018-07-17 07:57] byio opened #54 "Use in GatsbyJS"
Hi! I'm trying to use this package in a GatsbyJS project but the Typist component doesn't seem to render. Tested it on a CRA, and it works great!

Has anyone else tried using this on a GatsbyJS project?

[2018-07-17 16:51] vmarchesin commented on #45
Using it in production solves the issue. If the current release does not include #42 (commit db0b4c3) it probably won't work in dev with hot-reload.

[2018-07-17 20:48] alexluong commented on #54
Hey @byio, I use react-typist on my Gatsby site. You can check it out at: https://github.com/alexluong/blog/blob/master/src/components/Header/index.js.

I also use it in Gatsby v2 (WIP) on another branch if you're interested.

[2018-07-18 01:54] byio commented on #54
Hi @alexluong! Thanks for your help.

I've just started started a gatsby-starter-hello-world project, installed react-typist, imported it into my index.js page, and did:

`<Typist>hello world!</Typist>`

However, nothing renders on the page. I inspected the page and instead, saw:

[code]

I'm not sure if I missed something.

[2018-07-18 02:01] alexluong commented on #54
Can you set up a repo for it?

[2018-07-18 02:29] byio commented on #54
sure! [](https://github.com/byio/gatsby-test)

[2018-07-18 03:20] byio commented on #54
Oh my god! I'm so sorry. I figured it out. It's got something to do with my styles.

[2018-07-18 03:20] #54 closed

[2018-07-20 22:35] ryee926 commented on #52
I'm curious as well...

[2018-08-07 03:34] joaom182 opened #56 "Typist.Delay not working properly"
Hello, i'm trying to use Typist.Delay but is not working properly, see example above:

![typist](https://user-images.githubusercontent.com/3612098/43752889-77f996f4-99d9-11e8-831b-988c7078a280.gif)

on code has Delay of 9050ms between two lines.

![screen shot 2018-08-07 at 00 31 22](https://user-images.githubusercontent.com/3612098/43752897-820879e4-99d9-11e8-813e-b0737d9becbe.png)

[2018-08-24 21:54] colemahatmccreary opened #57 "JSX children duplicated during Typist animation sequence (Error: encountered two children with the same key 'Typist-element-br-.......')"
Hi,
I'm working with a typist component that uses dynamically api-generated text as the "child" or nested content.

The Typist component itself is rendered conditionally upon all of the necessary text being loaded to local state and passed into the nested text.

[code]
As you can see use a number of `<br />` components in the body of this text, and on 80% of page loads, the animation proceeds to t

[2018-08-25 09:16] huhuanming commented on #56
It's not working on hot-reload mode.

[2018-08-26 03:42] cryptoads commented on #57
I am having the same exact issue.

[2018-08-27 03:35] jstejada commented on #57
ahh yeah, it seems to be an issue with  computing the key for the elements. happy to take a PR with a fix!

[2018-08-27 03:40] jstejada commented on #56
merging into #45

[2018-08-27 03:40] #56 closed

[2018-08-27 03:41] jstejada commented on #52
Not currently! I'll look into adding it

[2018-08-27 03:43] jstejada commented on #6
I have no current plans to implement this, but happy to take a PR!

[2018-08-27 03:47] jstejada commented on #29
hey everyone, I don't think there's anything actionable to do here, given that there's no straightforward way to tell when the animation should be restarted when new props are received, and doing so could break current usages.

I think using `key` to allow developers to remount Typist when they need to sounds like a good compromise in the meantime, so closing this for now

[2018-08-27 03:47] #29 closed

[2018-08-30 02:36] cryptoads commented on #57
PR with fix submitted.

[2018-09-08 18:38] jjmax75 commented on #6
I had a need for this today (I wanted to infinitely loop through an array of phrases with Typist) and have come up with something though not sure how it could be implemented as a feature of the library.

The general idea follows your example @jstejada I had to add a couple of pieces to get it working and I was also concerned about memory management but think I have that covered now.

Here's my cod

[2018-09-18 19:34] CharlyJazz opened #59 "Update Webpack to version 4"
Are welcome the pr?

[2018-09-19 18:17] efeconirulez opened #60 "Should be SEO friendly"
Search engines fetch as an empty string when used. There should be a solution to that.

[2018-09-27 07:26] albertoziveri opened #61 "Error in starting"
Hello,
the plugin seems to not be property configured when building.
See the error. After installing all the dependencies with npm install, then building and doing npm start it gives the following:
`ERROR in ./examples/main.scss
Module build failed: Error: Cannot find module 'node-sass'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (in

[2018-10-26 20:42] Krex0r opened #64 "Typis element doesnt get the defaultvalue of textarea"
Hi, i'm new to web dev,
How can i correct this error:
I want Typist components to get the defaultvalue of the textarea

[code]

this one doesnt work with typist but doesnt create warnings/errors
[code]

thank you for your time and help

[2018-10-29 01:52] jstejada commented on #59
PR definitely welcome!

[2018-11-13 02:22] protoEvangelion commented on #6
This is ugly but works:

[code]

[2018-11-23 03:07] pcast01 opened #66 "React strict mode fix by modifying usage of new lifecycle method"
Thanks so much for you library. I use it and I want to help out.

I wanted to add the lifecycle method `getDerivedStateFromProps`.

I am putting my own app thru `React.StrictMode` and came your library uses `componentWillReceiveProps` and this will just prepare your library to be up to date for used with `React.Suspense` and `React.lazy()`. Let me know if I can help out.

https://reactjs.org/blog/

[2018-12-10 22:35] MiguelArmendariz commented on #52
Actually I didn't add the said script on the docs (because I didn't understand it :P) but this way I managed to create my own animation for the cursor with css, where I can handle the speed.

[2019-01-02 02:07] jstejada commented on #66
Thanks so much! happy to accept a PR that does this

[2019-01-02 02:07] jstejada commented on #57
closing as #58 has been merged in

[2019-01-02 02:07] #57 closed

[2019-01-29 09:43] Cinamonas commented on #6
Updating `key` in `onTypingDone` rerenders the whole component after typing is complete, restarting the animation:
[code]

[2019-02-04 02:32] lucasconstantino opened #67 "Integrate with Ink"
Hey there!

It would be awesome if we could make react-typist play nice with [ink](https://github.com/vadimdemedes/ink/tree/next). Currently, the text blinks crazy while Typist is animating.

If you guys point me on some direction, I could try and work on pull-requests...

[2019-02-04 02:33] lucasconstantino commented on #67
@vadimdemedes marking you here to see if you have any thoughts..

[2019-02-15 06:44] vadimdemedes commented on #67
It seems that this library is meant to be used in browser and adapting it for Ink would be a complicated task. @lucasconstantino If you need something like this, I'd suggest forking it and removing all the dependencies on CSS/DOM.

[2019-02-24 15:28] kendricktan commented on #6
Using React Hooks:

[code]

Usage example:
[code]

[2019-04-12 18:15] monkeydri opened #71 "crash when using Fragment (<React.Fragment />)"
[code]

when using something like

[code]

react-typist@2.0.5

[2019-04-15 00:37] havesomeleeway commented on #6
@jstejada Any plans for a `restart` anytime soon? Or do your comments on [27 aug 2018](https://github.com/jstejada/react-typist/issues/6#issuecomment-416105975) still stand?

[2019-04-15 01:26] havesomeleeway commented on #6
@Cinamonas I'm trying something like this but the animation does not repeat. I'm unsure why

[code]

[2019-05-16 00:17] Harshakvarma commented on #6
I just created this using react hooks in a stateless function
Hope it helps

https://codesandbox.io/s/happy-zhukovsky-rycur

[2019-05-17 18:29] jstejada commented on #71
thanks for reporting! I'll take a look when I have a chance

[2019-05-22 16:37] DevelopwithTom opened #72 "Stop React Typist from moving text line up when typing a new line/ line break?"
I'm using typist to generate a typed effect title for a website.

However, I have multiple lines of text and each time a line break occurs, the text that has already been typed it pushed upward ([see gif][2]).

Can this be stopped and can the new line of text appear below the previously typed text. I have seen it done before but cannot replicate it ([like this][3]).

My JS:

    export default cla

[2019-05-22 16:56] #72 closed

[2019-05-22 17:00] DevelopwithTom commented on #72
This problem was caused by the CSS for my background image - 'align-items: center;'

Deleting it solved m problems!

[2019-06-29 22:27] DevelopwithTom commented on #53
How do you include the dist/Typsit.css?

[2019-08-06 08:28] nodeicode opened #74 "Cursor not Blinking"
[code]
This is inside my React Render function. setting `cursor={{blink:true}}` and my CSS has `cursor: pointer;` still it does not blink?

[2019-08-20 13:00] larsfischu commented on #74
There was a CSS file for this (https://github.com/jstejada/react-typist/blob/1a3de27b580e765d310b8f82d46ebef6bec66def/dist/Typist.css)

[2019-09-17 07:22] roma-glushko opened #75 "Emoji are rendered like an unknown char symbol for a second while backspacing"
**Description**
I have tried to add emoji to labels that I want to type via Typist and they are rendered okay. However, while backspacing is removing emoji, they are rendered like an unknown char symbol for a second before removing from the screen.

[code]

**Expected Result**
Emoji is backspacing without showing the unknown char symbol like other chars.

**Actual Result**
Emoji is backspacing wit

[2019-09-26 06:21] y0y0z opened #76 "react 17 lifycycle deprecation"
thank you for the typist module!
today, i have noticed a deprecation notice whenever i run test (using `jest`):

here is my system information:
[code]

i wanted to bring this to your attention before the module will break with never version of react.

thank you again.

[2019-09-27 20:12] jorcass commented on #72
Using someones example in another issue, I also sorted it out by feeding the length of the string to the count:

`const TypeWriter = () => {
  const [count, setCount] = useState(1);

  useEffect(() => {
    setCount(1);
  }, [count]);

  return (
    <div style={{ color: 'white' }}>
      {count ? (
        <Typist
          avgTypingDelay={40}
          startDelay={800}
          cursor={{ blink:

[2019-10-18 16:01] p0o opened #77 "should avoid using global class names for blinking cursor"
At the moment the blink cursor is using this global css name `.Typist .Cursor--blinking `.

Importing this stylesheet with modern tooling like CSS Modules results to a transformed name which is not a match to the classname above.

Also not a very good practice, a better approach could be implementing it using `styled-components` or injecting the stylesheet inside header within the component scope.

[2019-11-24 19:05] briancanspit opened #78 "Stop/Start typist on trigger"
Is there a callback or prop for starting or stopping Typist depending on a trigger? I'm using [React-Fulpage](https://www.npmjs.com/package/react-fullpage) and want the typing to start upon page scroll. Currently, when the page is scrolled to the typing will have already began and possibly finished. I was wondering whether there was an inbuilt callback for waiting/delaying the typing until I direc

[2019-12-10 18:11] ElllGeeEmm commented on #78
one workaround would be not mounting the typing component until you actually reach that point in the page.

[2020-01-06 21:41] #74 closed

[2020-01-18 06:37] siddharthsharma94 opened #80 "Integration with Input Placeholder"
Hey! Great plugin. I had a question on how to integrate with the input placeholder

Say I have this

[code]

How do i animate the placeholder text of the input ?

[2020-03-04 18:36] gillennium commented on #44
I had this issue as well. Was able to resolve it by setting the following styles on the cursor:

[code]
Default cursor character (|) will still be visible (overflowing outside the bounds of the cursor container).

[2020-03-07 05:11] EmirVelazquez opened #81 "Cursor Not Working Correctly"
Hello, I am new to react-typist and also not super strong with react yet. I got everything to work except for the cursor, It doesn't follow the text when it's typing out the sentences. This is the error I'm getting on the chrome dev tools console:
**react-dom.development.js:88 Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-compon

[2020-03-18 14:36] Haseeb99 opened #82 "div element inside heading (h1, h2..) / paragraph elements"
By default `<Typist />` component produces a `div` element with class `Typist`. If I want to animate a heading I need to put `<Typist />` component inside `h1` tag just like this:
[code]

This will result in the following markup:
[code]
Now the above syntax has no issues everything works as it is supposed to but is it a good practice to put a `div` tag inside a `heading` tag?

To solve the above i

[2020-03-22 11:35] ohlr commented on #19
I am using i18next and used the workarround described in #29 i.e.:

    <Typist key={t("some translation")}>
    ...
    </ Typist>

[2020-04-14 16:02] EtienneBerube commented on #78
I would also love to have this feature for accessibility reasons. Such that someone that is easily distracted could play/pause this animation.

[2020-04-25 02:10] ar0ra1 commented on #60
I was about to use this package, until I saw this.

I was implementing this on my `h1` tag.

[2020-04-27 01:10] zgallagher08 opened #84 "Cursor CSS file link in README returns 404"
`blink: true` doesn't make the cursor blink.

[2020-04-30 00:32] zgallagher08 commented on #84
Fixed by copying the css into my own file

[2020-04-30 00:32] #84 closed

[2020-04-30 18:50] al5ina5 opened #85 "Spelling Error in Documentation"
Hi there!

I found a spelling error in the documentation and I figured I'd report it. In the [`delayGenerator`](https://github.com/jstejada/react-typist#delayGenerator) section:

However, if you wish to insert delays at specific points in the animation, consider **useing** the Delay Component instead.

'useing' should be spelled using.

:)

[2020-05-04 10:34] jrios6 opened #86 "Memory Leak due to Backspace after unmounting"
I am receiving the following memory leak warning after unmounting a parent container that uses Typist and Typist.Backspace. I presume that this is due to Typist.Backspace's async function still running even after unmount.

Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and

[2020-05-20 15:47] georgeportillo commented on #86
Samehere

[2020-05-23 13:00] devilleo commented on #86
the same question

[2020-06-08 18:46] eminaydin opened #88 "Typist doesn't work properly when on another tab"
Once the text starts to type and you switch to another tab then come back after a while, you will notice that typist still didn't finish the writing. I'm wondering what is causing this?

[2020-06-14 23:21] buxzee commented on #54
Hi @byio @alexluong can you share how you solve this issue. I get below build error:

**_If you're trying to use a package make sure that 'Typist' is installed. If you're trying to use a local file make sure that the path is correct._**

I am importing below two lines inside index.js page

[code]

I also tried `import Typist from 'react-typist'` but I get the same above error.

and then inside ret

[2020-06-14 23:43] buxzee commented on #78
Is it possible to make it indefinite loop?

[2020-06-15 03:29] ElllGeeEmm commented on #78
@buxzee if you change the key of the component when it finishes typing it will remount and being the animation again.

[2020-06-17 20:57] amresha commented on #78
@ElllGeeEmm thank you for your response. I am getting this below error can you guide whats the issue. I have installed using this command `npm install react-typist --save` and also imported to the page where I want to use this plugin `import Typist from 'react-typist';`

[code]

[2020-06-25 12:50] laurencefass opened #89 "not working correctly for dynamically rendered content wrapped in {}"
Hi this is a great module many thanks for creating it.

Im trying to create a monitor effect but having a problem with dynamically rendered content i.e. rendered content wrapped in {...}

Sandbox here:
https://codesandbox.io/s/react-typist-demo-5p58v?file=/src/App.js

Ive put wrapped an unwrapped content so you can see the effect of applying <Typist> around dynamic content.

I dont know if this is

[2020-07-14 20:06] brunoniconeves commented on #6
instead of use count outside de element, you can put it on a key prop:

`<Typist
              key={countTyping}
              cursor={{show:false}}
              avgTypingDelay={50}
              onTypingDone={() => setCountTyping(0)}

A more elegant approuch

[2020-08-02 00:44] Jakuska commented on #61
I had the same error. I tried to reinstall the package but it still didn't work.  So I deleted node-sass from package.json and reinstalled it again. I had to do that because otherwise it would install version 3 instead of version 4. Anyway, version 4 works for me. Oh and I also had to change double quotes to single quote in utils.js (I saw this error in the terminal). Hope that helps!

[2020-08-06 00:01] willmcl opened #90 "Webpack error when using Gatsby"
I am using this with Gatsby and when running `gatsby develop` I get the following error:

[code]

Below are the dependencies from my package.json file. Any help would be great.

[code]

[2020-08-09 20:50] cxspxr commented on #89
same for me

[2020-08-10 09:21] cxspxr commented on #89
Okay, got a solution, planning to make documentation PR at least

If you go dynamically you should try to add adding `key` prop to `Typist` so that it will be forced to re-render every time on `key` prop change.

so .e.g.

[code]

[2020-08-10 09:41] cxspxr commented on #90
nothing like that for me
using it with gatsby and `develop` works fine, same with `build`
try to create empty gatsby project with default starter and then include typist

[2020-08-10 10:12] laurencefass commented on #89
makes perfect sense and i think the correct "React way" of using this. Thanks.

[2020-08-10 10:21] cxspxr commented on #89
Actually not quite :)
I think that @jstejada or someone should fix `componentShouldUpdate` of `Typist` component so that it will re-render or `children` prop change.

Right now my solution is somewhat hacky, but still works fine at least. No problems with that, no performance issues with basic dynamic content whatsoever, but the react-way would be to fix `componentShouldUpdate` method inside `Typi

[2020-08-14 05:45] navonf commented on #86
I am also receiving this error

[2020-10-19 20:15] hundreddaysofcode commented on #80
Did you come up with a Solution i have the same problem right now!

[2020-10-21 20:22] siddharthsharma94 commented on #80
I have not 🙁

[2020-10-22 13:44] GuillaumeCisco commented on #76
Any update?

[2020-11-13 15:09] oleonort commented on #86
same here, would be super cool if fixed

[2020-11-13 15:28] oleonort commented on #86
I think the temp solution for this situation would be not to set `delay` on `Typist.Backspace`, but instead use `Typist.Delay` before like this:

working without memory leaks:

[code]

working with leaks:
[code]

[2020-11-16 13:39] MwSpaceLLC opened #95 "[CURSOR NOT WORK] - only single line"
Hi there,

In my project the cursor not change position correctly...
U can check at: [https://codesandbox.io/s/pedantic-snyder-2tgxc?file=/src/styles.css](codesandbox)

![image](https://user-images.githubusercontent.com/29952045/99258852-7492c000-2819-11eb-9e1a-a30e071f0a20.png)

[2020-12-06 11:10] belferink1996 opened #96 "Warning: Please update the following components: Cursor"
## React gave me a warning when using Typist:

[code]

## Here is the code block I'm using:
[code]

[2020-12-10 05:20] JCODEPENG opened #97 "Cursor Color?"
Is there a way to change the cursor color using css and assigning the className to the <Typist> tag?

[2020-12-15 06:10] CarneyC commented on #90
I encountered the same issue, turn out I was importing from the source directly.
Changing `import Typist from 'react-typist/src/Typist';`  to `import Typist from 'react-typist';` should fix the error.

[2020-12-15 07:37] bhatvikrant commented on #76
Is this gonna be fixed?

[2020-12-17 16:19] donaldboulton commented on #96
Here is my typist code for publiuslogic.com
Hope it helps!

`
import React, { useState, useEffect } from 'react'
import Typist from 'react-typist'

function BioTypist() {
  const [count, setCount] = useState(1)

  useEffect(() => {
    // document.title = `You clicked ${count} times`;
    console.log("Count: " + count);
    setCount(1);
  }, [count]);

  return (
    <div>
      {count ? (

[2021-01-14 16:08] DarthBenro008 commented on #97
You can simply override the SCSS in your Stylesheet.

Example: Adding the following snippet in your style sheet would update the color of the cursor to blue.
[code]

[2021-03-11 20:09] pnguyen001 opened #99 "typist with react@17.0.0"
Can you update to work with react@17.0.0 and react-dom@17.0.0

![image](https://user-images.githubusercontent.com/42821297/110848202-d4572000-827b-11eb-8d18-bb975bc61ca8.png)

[2021-03-19 15:09] dbollinger opened #100 "A11y Concerns"
Please provide explicit guidance around accessibility for this tool in your documentation.   Updating the DOM without explicitly alerting users creates challenges for anybody using assistive technologies that need to parse the contents of the page.

Some additional context that may be helpful: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions

[2021-03-19 15:15] dbollinger commented on #100
Beyond live regions, an alternative solution would be to semantically hide the animated text using aria-hidden and always fully expose the text with some off-screen content.

[2021-03-19 22:29] brignano opened #101 "dist/Typist.css is missing"
As per `README.md` ([react-typist#css](https://github.com/jstejada/react-typist#css)),

But the entire `dist/` folder was removed from the repository in 3969345.

In the meantime, for anyone looking for this file, you can find it here: [Typings.css](https://github.com/jstejada/react-typist/blob/69445a87314b52454f050045961ac32090739726/dist/Typist.css)

[2021-03-26 14:41] vishnu-dev commented on #99
@jstejada Can we get some attention on this?

[2021-04-20 08:32] biblesyme commented on #6
I got a bettern version
[code]

[2021-04-29 18:30] llibdude opened #105 "How to set default text (not animated)"
I have a use case where I want there to be text already inside Typist so I can then backspace it.  I don't want the initial text to be "typed" out.

One thing I tried was to use nested `Typist` components, where the nested Typist component had 0 typing delays. It almost works but doesn't quite work.

Essentially I want:
[code]

User would see the sentence and then backspace 10.

Is there any mecha

[2021-05-09 12:00] baulml commented on #105
Any updates @llibdude? Did you manage to implement it? I'm running into the same issue

[2021-05-12 15:27] baulml commented on #105
thanks for your insights. i totally agree with you, it should be fine to advertise a competing library here, since this one seems to be abandoned.

[2021-05-25 15:37] mah-moh commented on #99
Try like this `npm install react-typist --save --legacy-peer-deps`. With this `--legacy-peer-deps` flag it overlooks the peer dependencies. Don't know if it is the proper way but it works fine.

[2021-05-28 09:54] spotelf13 opened #109 "Backspace speed prop"
Ability to adjust the backspace speed
 i.e. to simulate the holding down of backspace.

 `<Typist.Backspace count={22} delay={2000} speed={300} />`

[2021-05-29 14:37] th3n3rd commented on #89
Your *workaround* make sense if you use typist int he same component where the text is rendered, but it doesn't solve the main problem, i.e. text rendered in child components unfortunately.

[2021-06-04 16:00] #99 closed

[2021-06-16 06:12] amirho1 opened #110 "curso for block element doesn't work properly"
The typist's cursor doesn't work properly when it has a block element i.e H1
it goes to one line bottom

[code]
![Screenshot from 2021-06-16 10-39-14](https://user-images.githubusercontent.com/53734934/122166659-287f2b00-ce8f-11eb-9c7c-b5d2d895840f.png)

[2021-07-27 10:26] lawrence-witt commented on #78
Seems very odd that this was never a feature. I thought maybe I could toggle stop/start by changing `avgTypingDelay` to be a very high number, but the previous delay is not cancelled when changing it back to 'start' mode so it just stalls out.

[2021-09-08 03:36] #101 closed

[2021-09-16 06:56] shakeszka commented on #53
I had the same problem with
`<Typist className = "typistText">
  <p>My Personal Telegram Blog</p>
  <Typist.Backspace count={26} delay={1500} />
  <p>My Life in Telegram</p>
</Typist>`

I just put tag "span" instead of "p" and everything started working well :D

[2021-11-05 15:42] lucassauro commented on #82
This also occurs with the following example given by documentation which uses a div inside of Typist. I suppose the cause of this problem is related to CSS display properties as both h1 and div have block as default value.

[code]

[2021-11-06 21:48] lucassauro commented on #110
I'm also struggling with it. Did you find any solution?

[2021-11-25 16:41] softmarshmallow opened #115 "str.match is not a function"
![image](https://user-images.githubusercontent.com/16307013/143477979-7279f641-f889-43cc-9ca7-c24e7ad47028.png)

[code]

[2021-11-26 02:11] softmarshmallow opened #116 "Cursor animation not working with react-syntax-hightlight"
https://user-images.githubusercontent.com/16307013/143516324-51f9eaf3-6ee0-418d-a34b-68166766ae5e.mov

As you can see in the video, the cursor will always be drawn at the next line. (also without blinking.)
This happens with/without css import.

[2021-11-26 02:47] softmarshmallow commented on #110
Related #116

[2021-11-28 17:28] jstejada commented on #115
is this error being thrown from within typist? i can't tell from the error stack

[2021-12-18 05:39] alivarastepour opened #118 "unable to resolve dependency tree"
I was trying to add react-typist to my project with the following command:

but I got the following error:

I was wondering what could be possibly wrong about it.

[2021-12-26 12:26] ezcg commented on #96
It'd be great if this repo was updated to fix this error as typist will no longer work after React 18.x per the warning:

* Rename componentWillReceiveProps to UNSAFE_componentWillReceiveProps to suppress this warning in non-strict mode. In React 18.x, only the UNSAFE_ name will work.

[2022-01-01 14:12] realByg commented on #118
you should have checked out the other issues first
https://github.com/jstejada/react-typist/issues/99#issuecomment-847978006

[2022-02-21 00:18] aress31 commented on #6
No update on this ticket? It has been opened in 2016... Loop typing should be a stapple feature... Any update?

[2022-03-27 08:01] fschatbot opened #123 "broken code block in README.md"
URL: https://github.com/jstejada/react-typist#dynamic-content-usage

On line 47 the code is: `'''`
When it should be `'''jsx`

Note: ' means `

[2022-04-09 18:31] NawarA opened #124 "React 18 support"
Hey guys, seems the library acts crazy in React 18, spewing non-sense:

React 18.0.0:
![image](https://user-images.githubusercontent.com/2067616/162587119-223f90ec-b5fb-4fb6-a0cd-f574fd394ebc.png)

React 17.0.2:
![image](https://user-images.githubusercontent.com/2067616/162587122-5d8fdd09-12d0-46b5-aff0-4f4e651916fb.png)

I saw in another issue someone mentioned animations may screw up in React 18

[2022-04-10 23:29] NawarA commented on #124
Looks like each character at index-i is being written more than once

[2022-04-15 13:43] utxo-detective commented on #124
Seeing the same on react 18.0.0-alpha-cae635054-20210626

[2022-05-18 03:22] ohzecodes opened #125 "update documentation (dynamic content)"
####  Developers can use the on typing done method when to give a dynamic text looping through the array. The typist can then be compiled with delay and backspace to delete and give a dynamic feeling.
Kindly update the section with Dynamic content usage in your documentation with the following code.

[code]

[2022-05-21 22:51] dellwatson commented on #124
it seems work in me

[2022-05-25 20:06] SavarJ commented on #124
Hi @NawarA. Did you find any way to fix it?

[2022-05-27 17:49] jlubeck commented on #124
Was anyone able to make this work?

[2022-06-02 18:17] NawarA commented on #124
No, I didnt fix it. I was forced to use a different library

[2022-06-02 20:14] jlubeck commented on #124
Can you share which one did you use for React 18?

Thanks!

[2022-06-08 21:09] NawarA commented on #124
https://www.npmjs.com/package/react-typewriter

[2022-06-15 08:14] jason89521 commented on #124
I really like the way react-typist creates the typing animation, but it seems that this package is no longer updated. As a result, I create a new package and try to reproduce the functionality of react-typist. If you haven't find an alternative package, maybe you can give it a try.

Here is the package: https://www.npmjs.com/package/react-typist-component

[2022-07-02 16:09] echo-gravitas commented on #124
Works like a breeze with React 18 and MUI, thank you!

[2022-10-06 12:27] Vinnie-tec commented on #124
Amazing

[2022-11-19 05:47] donaldboulton opened #126 "Just Covert to a component"
Any out of date NPM modules just convert and add as a component instead of a module. I use Gatsby and It was working fine with React 18.2.0, but I did not like the React build warnings, so I made a module out of it and it works the same, with no build warnings. Updated to Typescript and change the react calls.
As
import * as React from 'react'
import { Component } from 'react'`
`
My repo component